h1 {
    color:green;
    font-family: fantasy;
}

.short-bio p {
    border: 1px black solid;
    padding: 5em
}

body {
    /* align-items: center; */
    text-align: center;
}

li {
    display: inline;
    margin: 14px;
}


footer {
    color:purple;
    margin-top: 100px;
    font-weight: bold;
}